

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit {
  padding-right: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-box {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
          
	height:150px;
	background-color:#452b86;
	text-align:center;
	float:left;
	width:30%;
	color:#914893;
}

body {
	padding-bottom: 40px;
	background-color: #737db9;
}
           
input[type="submit"]::-moz-focus-inner {border:0;}
input[type="submit"]:focus {background:#333;}














